/*
Citation for the following code: 
Code adapted from Node.JS starter guide
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
*/

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project Adapt - Anime</title>
        <link href="./css/style.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/a4d6593cdd.js" crossorigin="anonymous"></script>
        <script language="JavaScript">
            function showform(dowhat) {
              /*
              CRUD operations are made visible here
              */
              if (dowhat == 'insert'){
			          document.getElementById('browse').style.display = 'none';
			          document.getElementById('insert').style.display = 'block';
			          document.getElementById('update').style.display = 'none';
			          document.getElementById('delete').style.display = 'none';
			        }
			        else if (dowhat == 'update'){
			          document.getElementById('browse').style.display = 'none';
			          document.getElementById('insert').style.display = 'none';
			          document.getElementById('update').style.display = 'block';
			          document.getElementById('delete').style.display = 'none';
			        }
			        else if (dowhat == 'delete'){
		    	      document.getElementById('browse').style.display = 'none';
		    	      document.getElementById('insert').style.display = 'none';
		          	document.getElementById('update').style.display = 'none';
		        		document.getElementById('delete').style.display = 'block';
		        	}
              else if (dowhat == 'all'){
	          		document.getElementById('browse').style.display = 'block';
		        		document.getElementById('insert').style.display = 'block';
		        		document.getElementById('update').style.display = 'block';
		         		document.getElementById('delete').style.display = 'block';
		        	}
	    	      else { //by default display browse
	    		      document.getElementById('browse').style.display = 'block';
		         		document.getElementById('insert').style.display = 'none';
		         		document.getElementById('update').style.display = 'none';
		         		document.getElementById('delete').style.display = 'none';
		        	}
            }
            function newAnime() { showform('insert'); }
            function updateAnime(anime_id) { showform('update'); }
            function deleteAnime(anime_id) { showform ('delete'); }
            function browseAnime() { showform ('browse'); }
            function showAll() { showform ('all'); }  
        </script>
    </head>

    <body onload="browseAnime()">
        <h1>Browse Anime <i class="fa-solid fa-video"></i></h1>
        <h2>[ <a href="/">Home <i class="fa-solid fa-house"></i></a> | <a href="/manga">Manga <i class="fa-solid fa-book-open"></i></a> | <a href="/readers">Readers <i class="fa-solid fa-users"></i></a> | <a href="/manga_readers">Manga_Readers <i class="fa-solid fa-book-open-reader"></i></a> | <a href="/authors">Authors <i class="fa-solid fa-pen-nib"></i></a> | Anime <i class="fa-solid fa-video"></i> | <a href="/studios">Studios <i class="fa-solid fa-film"></i></a> ]</h2>
        
        <div id="browse">
            <p><a href="#" onClick="showAll()" class="formsDisplay">Display all Forms</a></p>
            <table id="anime-table" border="1" cellpadding="5">

                <thead>

                  <tr>
                    <button class="btn2"><a href="#" onClick="newAnime()">New</a></th></button>
                    <button class="btn2"><a href="#" onClick="updateAnime({{this.anime_id}})">Update</a></th></button>
                    <th></th>
                    <th>Anime ID</th>
                    <th>Manga ID</th>
                    <th>Title</th>
                    <th>Studio ID</th>
                    <th>Average Score</th>
                    <th>Viewership</th>
                  </tr> 
                </thead>
                
                <tbody>
                  
                  {{#each data}}
                  <tr data-value={{this.anime_id}}>
                    <td><button class="btndel" onclick="deleteAnime({{this.anime_id}})">Delete</button></td>
                    <td>{{this.anime_id}}</td>
                    <td>{{this.manga_id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.studio_id}}</td>
                    <td>{{average_score}}</td>
                    <td>{{viewership}}</td>
                  </tr>
                  {{/each}}
                </tbody>          
            </table> 
            <script src="./js/delete_anime.js"></script>
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <div id="insert">
          <h2>Add an Anime</h2>
          <p>Use the form below to add an Anime adaptation to the database</p>
            <form id="add-anime-form" method="POST" action="/add-anime-form">
              <fieldset class="fields">
                  <label for="input-title"> Title: </label> 
                  <input type="text" name="input-title" id="input-title">
                  <label for="input-manga"> Manga: </label> 
                    <select name="input-manga">
                    <option value="">Select a Manga</option>
                    {{#each manga}}
                    <option value="{{this.manga_id}}">{{this.title}}</option>
                    {{/each}}
                    </select>
                  <label for="input-studio"> Studio: </label> 
                    <select name="input-studio">
                    <option value="">Select a Studio</option>
                    {{#each studios}}
                    <option value="{{this.studio_id}}">{{this.name}}</option>
                    {{/each}}
                    </select>
                  <label for="input-score"> Average Score: </label> 
                  <input type="number" step="0.01" name="input-score" id="input-score">
                  <label for="input-viewer"> Viewer: </label> 
                  <input type="number" name="input-viewer" id="input-viewer">
                </fieldset>
                  <button class="btn" type="submit" value="Add Anime"><span>Add Anime</span></button>
                  <button class="btn" type="button" value="Cancel" onClick="browseAnime()"><span>Cancel</span></button>
            </form>        
        </div><!-- insert --> 

        <p>&nbsp;</p>
        <div id="update">
          <h2>Updating an Anime Form</h2>
          <p>Use the form below to select an Anime and update it's details</p>
            <form id="update-anime-form-ajax">
                <fieldset class="fields">
                  <label for="input-title">Title: </label>
                    <select name="input-title" id="mySelect">
                      <option value="test">Select an Anime</option>
                      {{#each data}}
                      <option value="{{this.anime_id}}">{{this.title}}</option>
                      {{/each}}
                    </select>
                  <label for="input-score"> Average Score: </label> 
                  <input type="number" step="0.01" name="input-score" id="input-score-update">
                  <label for="input-viewer"> Viewer: </label> 
                  <input type="number" name="input-viewer" id="input-viewer-update">
              </fieldset>
                  <button class="btn" type="submit" value="Update Anime"><span>Update Anime</span></button>
                  <button class="btn" type="button" value="Cancel" onClick="browseAnime()"><span>Cancel</span></button>
            </form> 
          <script src="./js/update_anime.js"></script>
        </div><!-- update -->
 
    </body>
</html>
